In [93]:
#1 Количество выживших пассажиров.

with open("titanic.csv", 'r') as f:
    header = f.readline()
    strings = f.readlines()
    i = 0
    for str in strings:
        if (str.split(',')[1] == '1'):            
            i += 1
    print(i)

342 892

In [86]:
#2.Средний возраст мужчин и женщин по отдельности.
with open("titanic.csv", 'r') as f:
    header = f.readline()
    strings = f.readlines()
    countM = countF = sumAgeM = sumAgeF = 0
    for str in strings:    
        strSex = str.split(',')[-3]
        strAge = str.split(',')[-2]
        if (strAge != ""):
            if (strSex == "male"):            
                countM += 1
                sumAgeM += float(strAge)
            elif (strSex == "female"):
                countF += 1
                sumAgeF += float(strAge)
print("Мужчин: ", countM)
print("Женщин: ", countF)
print("Средний возраст мужчин: ", sumAgeM / countM)
print("Средний возраст женщин: ", sumAgeF / countF)

Мужчин:  453
Женщин:  261
Средний возраст мужчин:  30.72664459161148
Средний возраст женщин:  27.915708812260537

In [92]:
#3.Количество пассажиров в разрезе десятилетий.
with open("titanic.csv", 'r') as f:
    header = f.readline()
    strings = f.readlines()
    count0To9 = count10To19 = count20To29 = count30To39 = count40To49 = 0
    count50To59 = count60To69 = count70To79 = count80To89 = count90To99 = 0
    for str in strings:    
        strAge = str.split(',')[-2]
        if (strAge != ""):
            age = float(strAge)
            if (0 < age < 10): count0To9 += 1
            elif (9 < age < 20): count10To19 += 1
            elif (19 < age < 30): count20To29 += 1
            elif (29 < age < 40): count30To39 += 1
            elif (39 < age < 50): count40To49 += 1
            elif (49 < age < 60): count50To59 += 1
            elif (59 < age < 70): count60To69 += 1
            elif (69 < age < 80): count70To79 += 1
            elif (79 < age < 90): count80To89 += 1
            elif (89 < age < 100): count90To99 += 1    

print("C 0 до 9:   ", count0To9)
print("C 10 до 19: ", count10To19)
print("C 20 до 29: ", count20To29)
print("C 30 до 39: ", count30To39)
print("C 40 до 49: ", count40To49)
print("C 50 до 59: ", count50To59)
print("C 60 до 69: ", count60To69)
print("C 70 до 79: ", count70To79)
print("C 80 до 89: ", count80To89)
print("C 90 до 99: ", count90To99)

C 0 до 9:    62
C 10 до 19:  102
C 20 до 29:  220
C 30 до 39:  167
C 40 до 49:  89
C 50 до 59:  48
C 60 до 69:  19
C 70 до 79:  6
C 80 до 89:  1
C 90 до 99:  0

In [98]:
#3.Количество пассажиров в разрезе десятилетий. (решение проще)
with open("titanic.csv", 'r') as f:
    header = f.readline()
    strings = f.readlines()
    ages = [0] * 10
    for str in strings:    
        age = str.split(',')[-2]
        if (age != ''):
            ages[int(float(age) // 10)] += 1
print(ages)

[62, 102, 220, 167, 89, 48, 19, 6, 1, 0]